/*
    Danielle Smith
    style.css -- manipulates appearance of home page
*/



*{
    box-sizing: border-box;

}




html{
    background-color: rgba(122, 122, 122, 1);
}



.banner{
    width: 100%;
    background-color: rgba(48, 48, 48, .70);
    color: rgba(200, 200, 200, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px;
}




#footer{
    position: absolute;
    bottom: 0;
}


#line1{
    background-color: white;
    width: 100%;
}

#logo{
    /*Placeholder, going to replaced with an image */
}


.button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 5px;
    padding: 7px;
    margin: 7px;
    background-color: rgba(95, 95, 95, 1);
    color: rgba(200, 200, 200, 1);
    border: 0;
}


.link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 7px;
}


