body{
    font-family: 'Cairo', sans-serif;
    background-color: #F4F4F4;
}
#header{
    
    font-family:'Teko', sans-serif;
    padding-bottom: 24px;
    border-bottom-style: solid;
    border-width: 2px;
    border-bottom-color: black;
    background-color: white;
}

.level-left{
    margin-top: 20px;
    margin-left: 48px;
    font-size: 2em;
}

.level-right{
    margin-top: 20px;
    margin-right: 48px;
    font-size: 2em;
}

#searchResults{
    border-radius: 6px;
    background-color: white;
    height: 470px;
    overflow: auto;
}

#searchButton{
    margin-left: 200px;
}

em{
    font-style: normal;
    color: red;
}

table{
    border-collapse: collapse;
}

#jobList th{
    padding: 28px;
    font-size: 1.3em;
    padding-right: 32px;
}

td:nth-child(1){
    max-width: 55px;
    text-align: center;
    padding-left: 32px;
}
td:nth-child(2){
    padding-left: 116px;
    max-width: 55px;

}td:nth-child(3){
    padding-left: 108px;
    max-width: 55px;
}


td:nth-child(4){
    padding-left: 148px;
}

#recentSearches{
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 8px;
    background-color: white;
}

a{
    text-decoration: none;
    color: #3F3F3F !important;
}

input[type=text] {
    width: 90%;
    margin-left: 2%;
    border-bottom: 1px solid red;
  }
  
  input[type=radio] {
    margin-left: 2%;
  }
  
  #jDesc {
    height: 350px;
  }
  
  #resume2 {
    height: 350px;
  }

  a{
    color: #3F3F3F;
  }